extend ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
block main 
    h1 #{pageTitle}

    .card.mb-3
        .card-header Bộ lọc và tìm kiếm 
        .card-body
            .row
                .col-6
                    //- Use mixins for UI
                    +filterStatus(filterStatus) 
                .col-6
                    //- Use mixins for UI
                    +searchProduct(keyword)
    table.table.table-hover.table-sm.mb-3
        thead
            tr 
                th STT 
                th Hình ảnh 
                th Tiêu đề
                th Giá gốc
                th Giá KM
                th Tồn kho
                th Trạng thái 
                th Hành động 
        tbody
            each item,index in products  
                if(item.deleted == false)
                    tr 
                        td #{(index + 1).toString().padStart(3, '0')} 
                        td
                            img(
                                src = `${item.thumbnail}`,
                                alt=`${item.description}`,
                                width = 100 px,
                                heigh= "auto",
                            )
                        td #{item.title}
                        td $#{item.price}
                        td $#{(item.price *(1-item.discount*0.01)).toFixed(2)}
                        td #{item.stock}
                        td 
                            if(item.inactive == false && item.stock > 0)    
                                a(href="#" class = "badge bg-success") Hoạt động
                            else
                                a(href="#" class = "badge bg-danger") Ngừng Hoạt động
                        td 
                            button(class='btn btn-warning btn-sm') Sửa
                            button(class='btn btn-danger btn-sm ms-2') Xóa 
    
    nav
        ul(class = "pagination")

            if(pagination.currentPage > 1)
                li(class = "page-item")
                button(
                    class ="page-link"
                    button-pagination = pagination.currentPage-1
                    ) Trang trước
            

            - for(var i = 1; i<= pagination.totalPage; i++) 
                li(class = `page-item ${pagination.currentPage == i ? "active" : ""}`)
                    button(
                        class ="page-link"
                        button-pagination = i
                        ) #{i}

            if(pagination.currentPage < pagination.totalPage)
                li(class = "page-item")
                button(
                    class ="page-link"
                    button-pagination = pagination.currentPage+1
                    ) Trang sau