extend ../../layouts/default.pug
block main 
    h1 #{pageTitle}

    .card.mb-3
        .card-header Bộ lọc và tìm kiếm 
        .card-body
            .row
                .col-6
                    each item in filterStatus 
                        button(
                            class = `btn btn-sm ms-1 btn-outline-success ${item.class}`
                            button-status=`${item.status}` 
                        ) #{item.name}
                .col-6
                    form(id='form-search')
                        // Class to stick input with button
                        .input-group 
                            input(
                                type="text"
                                placeholder = "Nhập tên sản phẩm"
                                name="keyword"
                                class="form-control"
                                value = keyword
                            ) 
                            .input-group-append
                                button(
                                    class="btn btn-success"
                                    type="submit"
                                ) Tìm kiếm
    table.table.table-hover.table-sm.mb-3
        thead
            tr 
                th STT 
                th Hình ảnh 
                th Tiêu đề
                th Giá gốc
                th Giá KM
                th Tồn kho
                th Trạng thái 
                th Hành động 
        tbody
            each item,index in products  
                if(item.deleted == false)
                    tr 
                        td #{(index + 1).toString().padStart(3, '0')} 
                        td
                            img(
                                src = `${item.thumbnail}`,
                                alt=`${item.description}`,
                                width = 100 px,
                                heigh= "auto",
                            )
                        td #{item.title}
                        td $#{item.price}
                        td $#{(item.price *(1-item.discount*0.01)).toFixed(2)}
                        td #{item.stock}
                        td 
                            if(item.inactive == false && item.stock > 0)    
                                a(href="#" class = "badge bg-success") Hoạt động
                            else
                                a(href="#" class = "badge bg-danger") Ngừng Hoạt động
                        td 
                            button(class='btn btn-warning btn-sm') Sửa
                            button(class='btn btn-danger btn-sm ms-2') Xóa 