extend ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
block main 
    h1 #{pageTitle}

    .card.mb-3
        .card-header Bộ lọc và tìm kiếm 
        .card-body
            .row
                .col-6
                    //- Use mixins for UI
                    +filterStatus(filterStatus) 
                .col-6
                    //- Use mixins for UI
                    +searchProduct(keyword)
    
    //- Table for items
    table.table.table-hover.table-sm.mb-3
        thead
            tr 
                th STT 
                th Hình ảnh 
                th Tiêu đề
                th Giá gốc
                th Giá KM
                th Tồn kho
                th Trạng thái 
                th Hành động 
        tbody
            each item,index in products  
                if(item.deleted == false)
                    tr 
                        td #{(index + 1).toString().padStart(3, '0')} 
                        td
                            img(
                                src = `${item.thumbnail}`,
                                alt=`${item.description}`,
                                width = 100 px,
                                heigh= "auto",
                            )
                        td #{item.title}
                        td $#{item.price}
                        td $#{(item.price *(1-item.discount*0.01)).toFixed(2)}
                        td #{item.stock}
                        td 
                            if(item.inactive == false && item.stock > 0)    
                                a(
                                    href="javascript:;" 
                                    button-change-status 
                                    data-status="active" 
                                    data-id=item.id 
                                    class = "badge bg-success"
                                    ) Hoạt động
                            else
                                //- Attribute with js logical
                                a(
                                    href="javascript:;" 
                                    button-change-status 
                                    data-status="inactive" 
                                    data-id=item.id 
                                    class = "badge bg-danger"
                                    ) Ngừng Hoạt động
                        td 
                            button(class='btn btn-warning btn-sm') Sửa
                            button(class='btn btn-danger btn-sm ms-2') Xóa 
    
    nav
        //- Use mixins for pagination
        +pagination(pagination)

    form(
        action = ""
        method = "POST"
        id = "form-change-status"
        data-path = `${prefixAdmin}/products/change-status`
    )
    script(src ="/admin/js/product.js") 