extend ../../layouts/default.pug
include ../../mixins/box-head.pug
block main 
    .container.my-3 
        .row 
            .col-12 
                +box-head("Danh sách sản phẩm")
        .row
            each item in products
                if(item.stock > 0 && item.inactive == false)
                    .col-6.col-md-3.mb-3 
                        .product-items 
                            .inner-image 
                                img(src=item.thumbnail, alt=item.title)
                            .inner-content
                                .h3.inner-title #{item.title} 
                                // Set Discount Priced 
                                .inner-price-new $#{(item.price *(1-item.discount*0.01)).toFixed(2)}
                                .inner-price-old $#{item.price}
                                .inner-price-discount -#{item.discount}%
            